* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	width: 90vw;
	max-width: 80rem;

	margin-inline: auto;
	padding-block: 2rem;

	justify-items: center;
	gap: 1rem;
}

ui-title {
	display: block;
	min-width: 10rem;

	padding: 0.3em 0;
	border-bottom: 2px solid #444;

	text-align: center;
	font-size: 2rem;
}

ui-save-button,
ui-wheel-load-button,
ui-wheel-delete-button {
	display: block;
	padding: 0.5rem;

	color: white;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-align: center;

	cursor: pointer;
	user-select: none;
}

ui-save-button {
	background-color: rgb(26, 182, 26);
}

ui-winner {
	display: block;

	font-size: 3rem;
}

ui-winner[ui-visible] {
	animation: grow-wobble 0.8s;
}

ui-wheel {
	display: block;
	width: 100%;
	max-width: 30rem;

	border: 5px #444 solid;
	border-radius: 50%;

	aspect-ratio: 1;

	position: relative;

	cursor: pointer;
}

ui-wheel-segments {
	display: block;
	width: 100%;
	height: 100%;

	border-radius: 50%;

	position: absolute;
}

ui-wheel-indicator {
	--width: 0.75rem;

	width: 0; 
	height: 0;

	position: absolute;
	top: -0.6rem;
	left: calc(50% - var(--width));

	border-left: var(--width) solid transparent;
	border-right: var(--width) solid transparent;
	border-top: 2em solid #444;
}

ui-options {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1.5rem;
	justify-content: center;

	max-width: 30rem;
}

ui-options > ui-option {
	display: block;
	font-size: 1.2rem;
	line-height: 2rem;

	--color: #eee;
}

ui-options > ui-option::before {
	content: '';
	display: inline-block;

	height: 1ch;
	width: 1ch;

	margin-right: 0.5rem;
	margin-bottom: 0.05rem;
	
	border-radius: 50%;
	background: var(--color);
}

input {
	border-radius: 0.25rem;
	border: 1px solid gray;
}

input[type="range"] {
	margin-left: 1rem;
	vertical-align: middle;
}

input[type="text"] {
	padding: 0.5rem;
}

ui-stored-wheels {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;

	margin-top: 8rem;
}

ui-stored-wheel {
	display: flex;
	flex-direction: column;
	
	width: 15rem;

	border: 1px dashed rgb(190, 195, 221);
	border-radius: 0.25rem;

	overflow: hidden;
}

ui-wheel-title {
	display: block;
	padding: 1rem;

	font-weight: bold;
}

ui-wheel-load-button {
	background-color: rgb(26, 182, 26);

	margin-top: auto;
}

ui-wheel-delete-button {
	color: rgb(233, 44, 44);
}

ui-wheel-item {
	display: flex;
	margin-left: 1rem;
	padding: 0.25rem 1rem;

	word-break: break-word;
}

ui-wheel-item::before {
	content: '→';

	display: block;
	margin-left: -1rem;
	padding-right: 0.5rem;
}

ui-wheel-item:last-of-type {
	margin-bottom: 1rem;
}

@keyframes grow-wobble {
	0% {
		transform: scale(0) translate(0, 5em);
	}
	
	40% {
		transform: scale(1.2);
	}

	60% {
		transform: scale(1);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1) translate(0);
	}
}
